// LOCAL VARIABLE


//*** FEATURES ***

#feature-1{
  background: url('media/imgs/teletype-bckr.svg') no-repeat;
  background-size: contain;
  background-position: calc(50% + 950px);

  #feature-1-img{
    width: 50%;


    img{

      filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg) saturate(3.5);


      &:hover{
        filter: none;
      }

    }

  } //feature-1-img

  #feature-1-info{
    padding-left: 35px;

  } //feature-1-info
} //feature-1

#feature-2{
  background: url('media/imgs/atom-ide-bckr.svg') no-repeat;
  background-size: auto 70%;
  background-position: calc(50% - 600px) center;


  #feature-2-img{
    width: 50%;





    img{
      left: 45px;

      filter: brightness(0.7) contrast(0.8) sepia(1) hue-rotate(160deg) saturate(3);


      &:hover{
        filter: none;
      } //hover

    } //img

  } //feature-2-img

  #feature-2-info{
    padding-left: 250px;

  } //feature-2-info
} //feature-2

#feature-3{
  background: url('media/imgs/feature-3-bckr.svg') no-repeat;
  background-size: contain;
  background-position: calc(50% + 550px);

  #feature-3-img{
    width: 50%;


    img{

      filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1.5);


      &:hover{
        filter: none;
      } //hover

    } //img

  } //feature-3-img



  #feature-3-info{
    padding-left: 35px;

  } //feature-3-info
} //feature-3



// FEATURES
.feature-container{
  width: 100vw;
  padding: 100px 0px;
  margin: 50px 0px;
  @include basic-flex(center, center)
} //feature-container

.feature-img{
  width: 780px;
  height: 488px;
  position: relative;
  top: 0px;
  left: -180px;
  border-radius: 5px;
  box-shadow:  0 20px 30px rgba(0, 0, 0, 5);

  transition-property: filter;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.feature-info{
    height: 350px;
    width: 50%;
    @extend %text-link;
    @include basic-flex(space-between, flex-start, column)

    div{
      @extend %button;
    }
}
