//*** Footer ***

footer{
  width: 100vw;
  padding: 205px 0px;
  border-top: 1px solid #1a191a;
  @include basic-flex(center, center);

  background: url('media/imgs/rocket.svg') no-repeat, #2c2a2b;
  background-position: calc(50% + 380px) 60px;

  #footer-content{
    width: 100%;
    @include basic-flex(center, center)


    #footer-content-left{

    }

    #footer-content-right{

    } //footer-content-right
  } //footer-content
} //Footer
