// *** GLOBAL VARIABLES ***

$content-width: 860px;
// be careful about goig anything below 860

$body-color: #333233;

$border-style: 1px solid #4e4b4d;
$atom-tan: #EFDAB9;

$hover-color: #ebab00;
$button-color: #fed153;
$button-border-radius: 5px;
